<button (click)="return()">Return</button>

<h2 *ngIf="sample === null">Sample not loaded</h2>
<h2 *ngIf="sample !== null">{{sample.name || 'Sample has no name'}}</h2>
<h3 *ngIf="sample !== null">Sample date: {{sample.date_time | date: 'dd/MM/yyyy HH:mm'}}</h3>
<p *ngIf="sample !== null">Centrifugation completed: <b>{{sample.centrifugation_completed ? 'yes' : 'no'}}</b></p>
<p *ngIf="sample !== null">Centrifuge settings: {{sample.centrifuge_minutes}} minutes / {{sample.centrifuge_rpm}} RPM / {{sample.centrifuge_rcf}} RCF</p>

<div>
  <app-board-button
    size="small"
    [isAddBtn]="true" title="Edit sample details"
    [isSelected]="false"
    (click)="sampleDetailsModalOpen = !sampleDetailsModalOpen"
  ></app-board-button>
</div>

<div *ngIf="sample !== null">
  <h3 *ngIf="!sample.id || sample.id === 0">
    You need to define and save new sample basic details before you can add images
  </h3>
  <div *ngIf="sample.id && sample.id > 0" class="flex-container">
    <app-sample-image
      *ngFor="let sampleImage of sampleImages"
      [id]="sampleImage.id"
      [image]="sampleImage"
      (deleteImageClick)="deleteImage(sampleImage)"
    ></app-sample-image>
    <app-board-button
      size="small"
      [isAddBtn]="true" title="Upload image"
      [isSelected]="false"
      (click)="imageUploadModalOpen = !imageUploadModalOpen"
    ></app-board-button>
  </div>

</div>

<app-modal
  (modalClosedClick)="imageUploadModalOpen = !imageUploadModalOpen"
  [isOpen]="imageUploadModalOpen"
  title="Upload sample image">
  <app-upload-image
    *ngIf="imageUploadModalOpen"
    [sampleId]="sample?.id"
    (imageUploaded)="imageUploaded()"
  ></app-upload-image>
</app-modal>
