<h1 routerLink="/"><a>{{sampleGroup?.category?.name}}</a> /</h1>
<h2 routerLink="/"><a>{{sampleGroup?.name}}</a> /</h2>
<h2>Choose sample</h2>

<div class="flex-container">
  <app-board-button
    *ngFor="let sample of samples"
    [isAddBtn]="false" [title]="sample.name"
    [isSelected]="false"
    (click)="openSample(sample)"
  ></app-board-button>
  <app-board-button
    [isAddBtn]="true" title="Add sample"
    [isSelected]="false"
    (click)="sampleDetailsModalOpen = !sampleDetailsModalOpen"
  ></app-board-button>
</div>


<app-modal
  (modalClosedClick)="sampleDetailsModalOpen = !sampleDetailsModalOpen"
  [isOpen]="sampleDetailsModalOpen"
  title="Sample basic details">
  <div>
    <div class="input-form-container">
      <form [formGroup]="sampleFormGroup" (ngSubmit)="saveSample()">
        <label for="sampleName">Sample name</label>
        <input formControlName="name" type="text" id="sampleName" name="sample_name"
               placeholder="Sample name">
        <label for="sampleDatetime">Sample date and time</label>
        <input formControlName="date_time" type="datetime-local" id="sampleDatetime" name="sample_date_time"
               placeholder="Sample date and time">
        <br>

        <img class="centrifuge-image" src="./assets/centrifuge.svg" alt="centrifuge" width="100" height="100"/>
        <br>
        <br>
        <label for="centrifuge_minutes">Centrifugation minutes</label>
        <input formControlName="centrifuge_minutes" type="number" id="centrifuge_minutes" name="centrifuge_minutes"
               placeholder="Centrifugation minutes">
        <label for="centrifuge_rpm">Centrifugation RPM (rounds per minute)</label>
        <input formControlName="centrifuge_rpm" type="number" id="centrifuge_rpm" name="centrifuge_rpm"
               placeholder="RPM">
        <label for="centrifuge_rcf">Centrifugation relative centrifugal force</label>
        <input formControlName="centrifuge_rcf" type="number" id="centrifuge_rcf" name="centrifuge_rcf"
               placeholder="RCF">
        <label class="checkbox-container" for="centrifugation_completed">Centrifugation completed
          <input formControlName="centrifugation_completed" type="checkbox" id="centrifugation_completed"
                 name="centrifugation_completed"
                 placeholder="RCF">
          <span class="checkmark"></span>
        </label>
        <br>

        <br>
        <input type="submit" value="Save"
               [disabled]="!sampleFormGroup.valid">
      </form>
    </div>
  </div>
</app-modal>
