<h1>Choose category</h1>

<div class="flex-container">
  <app-board-button
    *ngFor="let category of categories"
    [isAddBtn]="false" [title]="category.name"
    [isSelected]="selectedCategoryId === category.id"
    (click)="openCategory(category.id)"
  ></app-board-button>
  <app-board-button
    [isAddBtn]="true" title="Add new"
    [isSelected]="false"
    (click)="categoryAddModalOpen = !categoryAddModalOpen"
  ></app-board-button>
</div>


<app-modal
  (modalClosedClick)="categoryAddModalOpen = !categoryAddModalOpen"
  [isOpen]="categoryAddModalOpen"
  title="Add category"
>
  <div>
    <p>Categories are used to filter groups of samples called "sample groups"</p>
    <div class="input-form-container">
      <form [formGroup]="categoryFormGroup" (ngSubmit)="createCategory()">
        <label for="gName">New category name</label>
        <input formControlName="name" type="text" id="gName" name="category_name" placeholder="New category name">

        <input type="submit" value="Create" [disabled]="!categoryFormGroup.valid">
      </form>
    </div>
  </div>
</app-modal>

