<h1>Choose category</h1>

<div class="flex-container">
  <app-board-button
    *ngFor="let category of categories"
    [isAddBtn]="false" [title]="category.name"
    [isSelected]="selectedCategoryId === category.id"
    (click)="openCategory(category.id)"
  ></app-board-button>
  <app-board-button
    [isAddBtn]="true" title="Add new"
    [isSelected]="false"
    (click)="categoryAddModalOpen = !categoryAddModalOpen"
  ></app-board-button>
</div>


<!-- The Modal -->
<div id="myModal" class="modal" [ngClass]="[categoryAddModalOpen ? 'modal-open' : '']">
  <div class="modal-content">
    <span (click)="categoryAddModalOpen = !categoryAddModalOpen" class="modal-close">&times;</span>
    <h2>Add category</h2>
  </div>
</div>

